.container {
    margin: auto;
    max-width: 500px;
    font-family: Helvetica;
}
.navbar {
    margin: 0;
    background-color: white;
}
.heading {
    color: teal;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    color: darkgrey;
    padding-right: 1em;
}
/* .site-title {
    font-size: 3rem;
    color: gray;
    margin: 3rem 0;
} */