$charcoal: #2c3531;
$aquamarine: #116466;
$blueShirt: #94d7d5;
$sand: #d9b08c;
$tan: #ffcb9a;
$sky: #a4e0ef;
$purpleShirt: #3a2a56;
$lightPurple: #c3a0ff;
$goldYellow: #fbbf2c;
$tAquamarine: rgba(17, 101, 102, 0.8);
$tPurpleShirt: rgba(58, 42, 86, 0.8);

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #2c3531;
    background: linear-gradient(210deg, $tAquamarine, $tPurpleShirt), url("../images/abstractWave.jpeg");
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    animation: 1.5s ease 0s 1 fadeIn;
}

// LAYOUT
.navbar {
    min-height: 2em;
    font-size: 1.5em;
}

.navbar-custom .navbar-text {
    color: $sky;
}

.layoutMain {
    min-height: 100vh;
    color: $tan;
    flex: 1 0 auto;
    text-align: center;
}

.pageTitle {
    font-size: 4em;
    font-weight: 500;
    color: $goldYellow;
}

// FOOTER
.page-footer {
    color: $sky;
    margin: .5em auto;
    text-align: center;
}

.footerLogo {
    max-width: 50px;
    height: auto;
    margin: 0 .25em;
}

// STYLE CARDS
.rCard {
    color: $sky;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.rCardText {
    color: $sand;
}


.rLink {
    text-decoration: inherit;
    text-decoration: none;
    color: $lightPurple;
}
.rYellow {
    text-decoration: inherit;
    text-decoration: none;
    color: $goldYellow;
}

.techLogo {
    max-width: 100px;
    height: auto;
    margin: .25em;
}

// OTHER STUFF
.h40 {
    width: 40%;
    margin: 1em auto;
    height: 10px;
}

.h50 {
    width: 50%;
    margin: 1em auto;
}

.colBuff {
    padding: 1em;
}

.helloThere {
    max-width: 60rem;
}

.techStackTitle {
    max-width: 60rem;
}