$charcoal: #2c3531;
$aquamarine: #116466;
$tAquamarine: rgba(17, 101, 102, 0.8);
$sand: #d9b08c;
$tan: #ffcb9a;
$sky: #a4e0ef;
$purpleShirt: #3a2a56;
$tPurpleShirt: rgba(58, 42, 86, 0.8);
$goldYellow: #fbbf2c;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #2c3531;
    background: linear-gradient(210deg, $tAquamarine, $tPurpleShirt), url("../images/abstractWave.jpeg");
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    // margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // max-width: 700px;
}

// HEADER && NAV
.navbar {
    min-height: 2em;
    font-size: 1.5em;
    // margin: .5em 0;
}

.layoutMain {
    min-height: 100vh;
    color: $goldYellow;
    flex: 1 0 auto;
    text-align: center;
}
.pageTitle {
    font-size: 5em;
    font-weight: 500;
    color: $sky;
}

.projectImage{
    max-width: 400px;
    height: auto;
}

.page-footer {
    color: $sky;
    margin: .5em auto;
    text-align: center;
}